<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cxf="http://camel.apache.org/schema/cxf"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/cxf http://camel.apache.org/schema/cxf/camel-cxf.xsd
       http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd"
>

    <cxf:rsServer id="rsServer" 
                  address="http://localhost:9999/cxfrs"
                  serviceClass="com.buildria.camel.cxfrs.customers.CustomersService" 
                  loggingFeatureEnabled="false" 
                  loggingSizeLimit="200" 
                  skipFaultLogging="true"
    />
    
    <camelContext xmlns="http://camel.apache.org/schema/spring">
        <route>
            <from uri="cxfrs://bean://rsServer?bindingStyle=SimpleConsumer&amp;providers=#providers" />
            <!--<from uri="cxfrs://bean://rsServer" />-->
            <log message="BODY: ${body}" />
            <log message="HEADERS: ${headers}" />
            <choice>
                <when>
                    <simple>$simple{headers.operationName} == 'getCustomers'</simple>
                    <process ref="cutomersProcessor" />
                </when>
                <otherwise>
                    <log message="No suitable process for $simple{headers.operationName}" />
                </otherwise>
            </choice>
        </route>
    </camelContext>
    
    <bean id="cutomersProcessor" class="com.buildria.camel.cxfrs.customers.CustomersProcessor" />

    <bean id="providers" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
                <!--<bean class="org.apache.cxf.jaxrs.provider.json.JSONProvider" />-->
            </list>
        </constructor-arg>
    </bean>
</beans>
